In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Problem Statement: To predict the if an emoployee will be eligible for promotion based on various variables in the Data.

In The Industry, Hr executives and managers spend lot of time on Normalizing the data and identifying the right person with tallents to be eligible for a promotion or a hike, and often employees feel there is a bias because it is a human decision. By peforming this kind of an model, it will elimiate the two main problems.

1. The time taken to process,validate and take the decision on who will be promoted.

2. The decision will be taken purely on performance metrics and we can eliminate any bias during decsion making.

#  Part- 1 Data Understanding & Exploration

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

Here we have two datasets, one is the training dataset which already has the pre-defined target variable "is_promoted" and other one is the testing dataset which is for testing purpose on which we need to deter mine the is_promoted column

In [6]:
train.head(2)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0

In [7]:
test.head(2)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51